# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset (IMPORTANT for your project)
data/
dataset/

# Models (large files)
models/
*.h5
*.pt
*.pth

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/